{#/!\ Uniquement à inclure dans un autre template#}

<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">{{ message}}</div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-8 offset-2">Formulaire</div>
        </div>
    </div>
</div>